@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&display=swap');

:root {
    --bg1: #8175AF;
    --bg2: #817F51;
    --pk1: #F5CB0A;
    --pk2: #1a3972;
    --pk2-: #344b77;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --fredoka: 'Fredoka One', cursive;
    --press: 'Press Start 2P', cursive;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font: var(--sm) var(--press);
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./images/arena.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    padding: 20px;
}
.titulo {
    color: var(--pk1);
    text-align: center;
    text-shadow: 1px 1px 2px var(--pk2), -1px 1px 2px var(--pk2), 1px -1px 2px var(--pk2), -1px -1px 2px var(--pk2);
}
.container > img{
    display: block;
    margin: auto;
    width: 10%;
    height: auto;
}
.subtitulo {
    color: var(--pk2);
    text-shadow: 1px 1px 2px var(--pk1), -1px 1px 2px var(--pk1), 1px -1px 2px var(--pk1), -1px -1px 2px var(--pk1);
}

/* Seleccionar Mascota */
.seleccionar-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjetas {
    display: flex;
    gap: 10px;
}
.tarjeta-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 150px;
    padding: 10px;
    color: var(--pk2);
    background: lightgray;
    box-shadow: 3px 3px black;
    border: black solid 3px;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.tarjeta-mascota img {
    display: block;
    margin: auto;
    width: 80px;
}
.tarjetas input {
    display: none;
}
#boton-mascota {
    background: var(--pk2);
    color: lightgray;
    padding: 15px;
    margin: 20px;
    font: var(--sm) var(--press);
    box-shadow: 3px 3px black;
    border: black solid 2px;
    border-radius: 10px;
}
#boton-mascota:hover {
    background: var(--pk2-);
    box-shadow: 4px 4px black;
    transform: translateY(-1px);
    cursor: pointer;
}
#boton-mascota:active {
    box-shadow: 0 0;
    transform: translate(3px, 3px);
}

/* Seleccionar Ataque */
.seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botones-ataque {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones-ataque button {
    width: 170px;
    background: var(--pk2);
    color: lightgray;
    box-shadow: 3px 3px black;
    padding: 15px;
    margin: 20px;
    font: var(--sm) var(--press);
    border: black solid 2px;
    border-radius: 10px;
}
.botones-ataque button:hover {
    cursor: pointer;
    background: var(--pk2-);
    box-shadow: 4px 4px black;
    transform: translateY(-1px);
}
.botones-ataque button:active {
    box-shadow: 0 0;
    transform: translate(3px, 3px);
}

/* Mensajes */
.mensajes {
    margin: auto;
    width: 90%;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
    border: black solid 4px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    box-sizing: border-box;
}
.span-mensaje {
    font-weight: bold;
    line-height: 150%;
    color: var(--pk1);
    text-shadow: 2px 2px 2px var(--pk2), -2px 2px 2px var(--pk2), 2px -2px 2px var(--pk2), -2px -2px 2px var(--pk2);
}
.ataques {
    width: 80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.ataques>div {
    margin: 10px auto;
    width: 80%;
    background-color: lightgray;
    border: black solid 4px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    box-sizing: border-box;
}
#vidas-jugador,
#vidas-enemigo {
    color: red;
    font-weight: bold;
    text-shadow: 0 0 2px lightgray, 0 0 2px lightgray, 0 0 2px lightgray, 0 0 2px lightgray;
}
#mascota-jugador,
#mascota-enemigo {
    font-weight: bold;
    color: var(--pk1);
    text-shadow: 2px 2px 2px var(--pk2), -2px 2px 2px var(--pk2), 2px -2px 2px var(--pk2), -2px -2px 2px var(--pk2);
}

/* Final - Reiniciar */
.reiniciar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgray;
    padding: 30px;
    width: 50%;
    border: var(--pk2) solid 8px;
    border-radius: 20px;
}
.mensaje-final {
    color: var(--pk2);
    font-size: large;
}
#boton-reiniciar {
    width: 160px;
    background: var(--pk2);
    color: lightgray;
    box-shadow: 3px 3px black;
    padding: 15px;
    margin: 40px 0 20px 0;
    font: var(--sm) var(--press);
    border: black solid 2px;
    border-radius: 10px;
}
#boton-reiniciar:hover {
    cursor: pointer;
    background: var(--pk2-);
    box-shadow: 4px 4px black;
    transform: translateY(-1px);
}
#boton-reiniciar:active {
    box-shadow: 0 0;
    transform: translate(3px, 3px);
}



@media (max-width: 600px) {
    .container > img{
        width: 20%;
    }
    .subtitulo {
      font-size: small;
    }
    .tarjetas {
        flex-direction: column;
    }
    .seleccionar-ataque p {
        font-size: small;
    }
    .botones-ataque {
        flex-direction: column;
    }
    .botones-ataque button {
        margin: 10px;
    }
    .mensajes {
      font-size: x-small;
    }
    .ataques {
        width: 100%;
    }
    .ataques div {
        width: 90%;
    }
  }